body {
  margin: 0px;
}

.background-img {
  width: 100%;
}


.display-audios {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

}

.audio-piece {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #c0bd7f;
  /* <length> | <length> | <length> | <length> | <color> */
  box-shadow: 4px 4px 4px 2px #9c9970;
}

.audio-piece span {
  font-size: 1.5rem;
  font-weight: bold;
}