body {
  margin: 0px;
}

.background-img {
  width: 100%;
}


.display-audios {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;

}

.audio-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.audio-piece {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #c0bd7f;
  /* <length> | <length> | <length> | <length> | <color> */
  box-shadow: 4px 4px 4px 2px #9c9970;
  cursor: pointer;
}

.audio-piece span {
  font-size: 1.5rem;
  font-weight: bold;
}

.audio-player {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}